//
// MobileApplicationTrackingAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



public class MobileApplicationTrackingAPI: APIBase {
    /**
     Submit mobile application tracking data for Tune applications
     
     - parameter customerId: (query) customerId 
     - parameter request: (body) Tune campaign tracking information (optional)
     - parameter completion: completion handler to receive the data and the error objects
     */
    public class func handleTuneRequestUsingPOST(customerId customerId: String, request: DataCollectorTuneRequest? = nil, completion: ((error: ErrorType?) -> Void)) {
        handleTuneRequestUsingPOSTWithRequestBuilder(customerId: customerId, request: request).execute { (response, error) -> Void in
            completion(error: error);
        }
    }


    /**
     Submit mobile application tracking data for Tune applications
     - POST /v2/tune
     
     - parameter customerId: (query) customerId 
     - parameter request: (body) Tune campaign tracking information (optional)

     - returns: RequestBuilder<Void> 
     */
    public class func handleTuneRequestUsingPOSTWithRequestBuilder(customerId customerId: String, request: DataCollectorTuneRequest? = nil) -> RequestBuilder<Void> {
        let path = "/v2/tune"
        let URLString = DataCollectorAPI.basePath + path
        let parameters = request?.encodeToJSON() as? [String:AnyObject]
 
        let convertedParameters = APIHelper.convertBoolToString(parameters)
 
        let requestBuilder: RequestBuilder<Void>.Type = DataCollectorAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "POST", URLString: URLString, parameters: convertedParameters, isBody: false)
    }

}
